{% extends 'base.html' %}
{% block title %}
{% if '/add' in request.path %}
Add member
{% else %}
Edit member
{% endif %}
{% endblock %}
{% block header %}
{% if '/add' in request.path %}
Add page
{% else %}
Edit page
{% endif %}
{% endblock %}
{% block body %}
<div class="container bg-white">
    {% if '/add' in request.path %}
    {% include "base_header.html" with title="Add a team member" description="Set email, location and role." %}
    {% else %}
    {% include "base_header.html" with title="Edit a team member" description="Edit email, location and role." %}
    {% endif %}
    <form class="row fs-6" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields  %}
        {% if object.team_role != 'Admin' and field.auto_id == "id_team_role" %}
        {% comment %} It is dangerous to let all the users change the role. {% endcomment %}
        {% elif field.auto_id == 'id_password' and True%}
        {% comment %} Change password is in other form. {% endcomment %}
        {% else %}
        <div class="col-lg-3 col-md-6 col-12 py-3">
            {% if field.auto_id == "id_team_role" %}
            <b>{{ field.label_tag }}</b>
            {% endif %}
            {{ field }}
            <span class="text-danger">{{ field.errors }}</span>    
        </div>
        {% endif %}
        {% endfor %}
        <div class="col-12">
            <div class="container">
                <div class="row py-3">
                    {% if 'add' in request.path or object.team_role != 'Admin' %}
                    <div class="col-12 text-end">
                        <button class="button border rounded-1 py-2 px-4 bg-primary text-white" type="submit">Save</button>
                    </div>
                    {% else %}
                    <div class="col-4 text-start">
                        <button class="button border rounded-1 py-2 px-4 bg-white text-danger" type="button" onclick="location.href='{% url 'users:delete' object.id %}';">Delete</button>
                    </div>
                    <div class="col-4 text-center">
                        <button class="button border rounded-1 py-2 px-4 bg-dark text-light" type="button" onclick="location.href='/';">Reset Password</button>
                    </div>
                    <div class="col-4 text-center">
                        <button class="button border rounded-1 py-2 px-4 bg-secondary text-light" type="button" onclick="location.href='/';">Reset Password</button>
                    </div>
                    <div class="col-4 text-end">
                        <button class="button border rounded-1 py-2 px-4 bg-primary text-white" type="submit">Save</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}