{% extends 'base.html' %}
{% block title %}
404
{% endblock %}
{% block header %}
Error 404!
{% endblock %}
{% block body %}
<div class="container bg-white">
  <div class="row fs-6 text-center" method="post">
    <div class="col-12 my-3 py-3">
      <span class=" text-danger">Ooops!😯 The page you want does not exist! 🤔</span>    
    </div>
    <div class="col-12 my-3 py-3">
        <a href="/">Please go back to the main page and enjoy the legit pages! 😊</a>    
      </div>
  </div>
</div>
{% endblock %}